<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER-PROFILE</title>
    <link rel="stylesheet" href="{% static 'new/css/bootstrap.css' %}">
</head>
<body>

    <div class="container mt-5">

        <h2 class="text-center alert-danger">USER PROFILE</h2>
        {% block content %}

        
        
        {% endblock content %}


    </div>

    <script src ="{% static 'new/js/jquery.js' %}"></script>
    <script src ="{% static 'new/js/popper.js' %}"></script>
    <script src ="{% static 'new/js/bootstrap.js' %}"></script>
    
</body>
</html>